<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List All Product</title>
</head>
<body>
    <h1>Daftar Product</h1>
        <% products.forEach((product) => {  %>
            <div>
                <h3>Nama <%= product.name %></h3>
                <h3>Harga <%= product.price %></h3>
                <h3>ID <%= product.id %></h3>
            </div>
        <% }) %>
        <a href="/product/create"> Tambahkan Product </a>
</body>
</html>
