<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h2>Update Product</h2>
        <form action="/product/<%=product.id%>?_method=PUT" method="POST">
            <div>
                <label for="name">Name :</label>
                <input type="text" name="name" placeholder="Nama Product" value="<% product.name%>"/>
            </div>
            <div>
                <label for="price">Number :</label>
                <input type="number" name="price" placeholder="Harga Product" value="<% product.name%>"/> </div>
            <input type="submit"/>
    </form>
</body>
</html>
